.banner {
  margin-top: 40px;
}
.banner.slick-dotted.slick-slider {
  margin-bottom: 80px;
  padding-bottom: 40px;
}
.banner__slide {
  border-radius: 12px;
  background-image: url("https://w.forfun.com/fetch/e4/e492830eb852edbef6c88838bb08e377.jpeg");
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  padding: 150px 0 150px 85px;
  color: #FFF;
}
.banner__content {
  max-width: 70%;
}
.banner__title {
  text-transform: uppercase;
  margin-bottom: 40px;
}
.banner__text {
  font-size: 18px;
  margin-bottom: 30px;
}
.banner .slick-dots {
  bottom: 0px;
}
.banner .slick-dots li button:before {
  opacity: 1;
  color: #7D7D7D;
  font-size: 10px;
}
.banner .slick-dots li.slick-active button:before {
  opacity: 1;
  color: rgb(0, 122, 255);
}
@media (max-width: 1200px) {
  .banner__slide {
    padding: 100px 0 100px 50px;
  }
}
@media (max-width: 1024px) {
  .banner.slick-dotted.slick-slider {
    padding-bottom: 30px;
  }
}
@media (max-width: 900px) {
  .banner__slide {
    padding: 70px 0 70px 40px;
  }
}
@media (max-width: 768px) {
  .banner__slide {
    padding: 50px 0 50px 30px;
  }
}
@media (max-width: 425px) {
  .banner {
    margin-top: 20px;
  }
  .banner.slick-dotted.slick-slider {
    margin-bottom: 20px;
  }
  .banner__slide {
    padding: 60px 0 60px 10px;
  }
  .banner__content {
    max-width: 90%;
  }
  .banner__title {
    margin-bottom: 30px;
  }
}
@media (max-width: 375px) {
  .banner__slide {
    padding: 30px 0 30px 10px;
  }
  .banner__title {
    margin-bottom: 20px;
  }
}

.mainTitle {
  text-align: center;
}

.button-link {
  text-align: center;
  margin-top: 40px;
}
.button-link a {
  display: inline-block;
  padding: 16px 20px;
  background: #112B60;
  border-radius: 10px;
}
.button-link span {
  margin-right: 10px;
}
@media (max-width: 768px) {
  .button-link a {
    padding: 10px 14px;
    border-radius: 6px;
  }
  .button-link span {
    margin-right: 5px;
  }
}

.list-item {
  border: 1px solid rgb(189, 189, 189);
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  background: rgb(255, 255, 255);
  color: #000;
  max-width: 300px;
}
.list-item__img {
  position: relative;
  width: 100%;
}
.list-item__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.list-item__date {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: #FFF;
}
.list-item__content {
  padding: 20px;
}
@media (max-width: 1280px) {
  .list-item__content {
    padding: 10px;
  }
}

.news {
  margin-bottom: 80px;
}
.news__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.news__img {
  height: 200px;
}
@media (max-width: 1280px) {
  .news__img {
    height: 160px;
  }
}
@media (max-width: 1024px) {
  .news__list {
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 600px) {
  .news__list {
    gap: 40px 10px;
  }
}
@media (max-width: 550px) {
  .news__list {
    grid-template-columns: auto;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .news__img {
    height: 180px;
  }
  .news .list-item {
    max-width: 320px;
  }
}

.documents {
  margin-bottom: 80px;
}
.documents__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.documents__item {
  border-radius: 10px;
  background: rgb(17, 43, 96);
  padding: 20px;
  color: #FFF;
  text-align: center;
}
.documents__icon {
  margin-bottom: 20px;
}
.documents__text {
  margin-top: 20px;
  font-size: 18px;
}
@media (max-width: 1024px) {
  .documents__item {
    max-width: 350px;
  }
  .documents__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 425px) {
  .documents__item {
    padding: 10px;
  }
  .documents__icon {
    margin-bottom: 5px;
  }
  .documents__text {
    font-size: 16px;
  }
}

.actually {
  margin-bottom: 80px;
}
.actually__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.actually__date {
  width: 100%;
  text-align: center;
}
.actually__img {
  height: 200px;
}
@media (max-width: 1280px) {
  .actually__img {
    height: 160px;
  }
}
@media (max-width: 1024px) {
  .actually__list {
    grid-template-columns: repeat(2, auto);
    gap: 40px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 600px) {
  .actually__list {
    gap: 40px 10px;
  }
}
@media (max-width: 550px) {
  .actually__list {
    grid-template-columns: auto;
    gap: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .actually__img {
    height: 180px;
  }
  .actually .list-item {
    max-width: 320px;
  }
}

.urls__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.urls__item {
  border-radius: 6px;
  background: #112B60;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 18px 15px;
}
.urls__img {
  width: 55px;
  height: 55px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 1024px) {
  .urls__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .urls__list {
    grid-template-columns: repeat(1, auto);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 20px;
  }
  .urls__item {
    max-width: 350px;
  }
}/*# sourceMappingURL=main.css.map */