@import './mixin.scss';





.banner {
    margin-top: 40px;

    &.slick-dotted.slick-slider {
        margin-bottom: 80px;
        padding-bottom: 40px;
    }

    &__slide {
        border-radius: 12px;
        background-image: url('https://w.forfun.com/fetch/e4/e492830eb852edbef6c88838bb08e377.jpeg');
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center !important;
        padding: 150px 0 150px 85px;
        color: #FFF;
    }

    &__content {
        max-width: 70%;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    &__text {
        font-size: 18px;
        margin-bottom: 30px;
    }





    .slick-dots {
        bottom: 00px;

        li button:before {
            opacity: 1;
            color: #7D7D7D;
            font-size: 10px;
        }

        li.slick-active button:before {
            opacity: 1;
            color: rgb(0, 122, 255);
        }
    }

    @media (max-width:1200px) {
        &__slide {
            padding: 100px 0 100px 50px;
        }
    }

    @media (max-width:1024px) {
        &.slick-dotted.slick-slider {
            padding-bottom: 30px;
        }
    }

    @media (max-width:900px) {
        &__slide {
            padding: 70px 0 70px 40px;
        }
    }

    @media (max-width:768px) {
        &__slide {
            padding: 50px 0 50px 30px;
        }
    }

    @media (max-width:425px) {
        margin-top: 20px;

        &.slick-dotted.slick-slider {
            margin-bottom: 20px;
        }

        &__slide {
            padding: 60px 0 60px 10px;
        }

        &__content {
            max-width: 90%;
        }

        &__title {
            margin-bottom: 30px;
        }
    }

    @media (max-width:375px) {
        &__slide {
            padding: 30px 0 30px 10px;
        }

        &__title {
            margin-bottom: 20px;
        }
    }


}


.mainTitle {
    text-align: center;
}

.button-link {
    text-align: center;
    margin-top: 40px;

    a {
        display: inline-block;
        padding: 16px 20px;
        background: $color1;
        border-radius: 10px;
    }

    span {
        margin-right: 10px;
    }

    @media (max-width:768px) {
        a {
            padding: 10px 14px;
            border-radius: 6px;
        }

        span {
            margin-right: 5px;
        }
    }
}

.list-item {
    border: 1px solid rgb(189, 189, 189);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    background: rgb(255, 255, 255);
    color: #000;
    max-width: 300px;


    &__img {
        position: relative;
        width: 100%;


        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__date {
        position: absolute;
        right: 10px;
        bottom: 10px;
        color: #FFF;
    }

    &__content {
        padding: 20px;
    }

    @media (max-width:1280px) {
        &__content {
            padding: 10px;
        }
    }
}

.news {
    margin-bottom: 80px;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__img {
        height: 200px;
    }

    @media (max-width:1280px) {
        &__img {
            height: 160px;
        }
    }

    @media (max-width:1024px) {
        &__list {
            grid-template-columns: repeat(2, auto);
            gap: 40px;
            justify-content: center;

        }
    }

    @media (max-width:600px) {
        &__list {
            gap: 40px 10px;
        }
    }

    @media (max-width:550px) {
        &__list {
            grid-template-columns: auto;
            gap: 20px;
            justify-content: center;
        }

        &__img {
            height: 180px;
        }

        .list-item {
            max-width: 320px;
        }
    }

}


.documents {
    margin-bottom: 80px;

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    &__item {
        border-radius: 10px;
        background: rgb(17, 43, 96);
        padding: 20px;
        color: #FFF;
        text-align: center;
    }

    &__icon {
        margin-bottom: 20px;
    }

    &__date {}

    &__text {
        margin-top: 20px;
        font-size: 18px;
    }

    @media (max-width:1024px) {
        &__item {
            max-width: 350px;
        }

        &__list {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    @media (max-width:425px) {
        &__item {
            padding: 10px;
        }

        &__icon {
            margin-bottom: 5px;
        }

        &__text {
            font-size: 16px;
        }
    }
}




.actually {
    margin-bottom: 80px;

    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;
    }

    &__date {
        width: 100%;
        text-align: center;
    }

    &__img {
        height: 200px;
    }

    @media (max-width:1280px) {
        &__img {
            height: 160px;
        }
    }

    @media (max-width:1024px) {
        &__list {
            grid-template-columns: repeat(2, auto);
            gap: 40px;
            justify-content: center;

        }
    }

    @media (max-width:600px) {
        &__list {
            gap: 40px 10px;
        }
    }

    @media (max-width:550px) {
        &__list {
            grid-template-columns: auto;
            gap: 20px;
            justify-content: center;
        }

        &__img {
            height: 180px;
        }

        .list-item {
            max-width: 320px;
        }
    }
}


.urls {
    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }

    &__item {
        border-radius: 6px;
        background: $color1;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 18px 15px;
    }

    &__img {
        width: 55px;
        height: 55px;
        object-fit: contain;
    }


    @media (max-width:1024px) {
        &__list {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media (max-width:600px) {
        &__list {
            grid-template-columns: repeat(1, auto);
            justify-content: center;
            gap: 20px;
        }

        &__item {
            max-width: 350px;
        }
    }
}